<strong>Olá, {{ deliveryman }}</strong>
<p>Você tem uma nova encomenda para ser entregue, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ recipient }}<br/>
  <strong>Endereço: </strong> {{ address }}<br/>
  <br/>
  <small>
    Caso encontre problemas para efetuar a entrega nos avise através da plataforma.
  </small>
</p>
